.add {
    width: 70%;
    margin-left: max(5vw, 25px);
    margin-top: 50px;
    color: #6d6d6d;
    font-size: 16px;
}

.flex-col {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.add-img-upload img {
    width: 120px;
    cursor: pointer;
    border: 1px dashed #6d6d6d;
    padding: 10px;
}

.add-product-name input, .add-product-description textarea {
    padding: 10px;
    border: 1px solid #c9c9c9;
    outline-color: #60b246;
}

.add-category-price {
    display: flex;
    gap: 30px;
}

.add-category-price select, .add-category-price input {
    max-width: 120px;
    padding: 10px;
    border: 1px solid #c9c9c9;
}

.add-btn {
    max-width: 120px;
    border: none;
    padding: 10px;
    background-color: #60b246;
    color: white;
    cursor: pointer;
    font-weight: bold;
}